body { 
  /* The image used */
  background-image: url("/images/marble_2.jpg");

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.navbar,
.navbar-default {
  
    background-image: linear-gradient(to bottom, dimgrey 0, whitesmoke  100%) !important; /* override background image gradient w/ flat color */
}

a{
  color: #1F2226 !important;
  text-decoration: none !important;
} 