*{
    font-family: 'Quattrocento', serif;
}

h2.title {
    color: whitesmoke;
    font-family: 'Quattrocento', serif;
    font-weight: bold
}
.nav{
    font-size: 1.5em;
}
.navbar-brand{
    font-size: 1.8em;
}

.cityTitle{
    color: darkslategrey
}

.postItem{
    margin: 1% 3%
}

button.newPost{
    margin: 180px 0 0 8px;
    background-color: dimgrey
}

.well{
    background-size: cover;
    background-position: 50%;
    text-align: center;
    z-index: 100
   
}

