

h2 {
    color: whitesmoke;
}

.cityTitle{
    color: darkslategrey
}

.postItem{
    margin: 1% 3%
}

button{
    margin-top: 100px
}

.well{
    background-size: cover;
    background-position: 50%;
    text-align: center;
    z-index: 100
   
}